<mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'"  [dark]="true">
    <mdb-carousel-item>
      <img
        src="https://http2.mlstatic.com/storage/splinter-admin/o:f_webp,q_auto:best/1696284215207-home-slidercyberweek-moda.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://http2.mlstatic.com/D_NQ_887512-MLA71969996198_092023-OO.webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
       
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://http2.mlstatic.com/D_NQ_649872-MLA72099974044_102023-OO.webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">        
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
        <img
          src="https://http2.mlstatic.com/D_NQ_786824-MLA69643971979_052023-OO.webp"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          
          
        </div>
      </mdb-carousel-item>
  </mdb-carousel>
