#general{
    background-color: rgba(242, 235, 235, 0.959);
    border-radius:0%;
    height: 150vh;
}
#t1{
    margin-top: 1%;
    margin-left: 2%;
}
#t2{
    margin-left: 2%;
}
#t3{
   margin-left:40%;
}

#img1{
    height:70vh;
    margin-left: 28%;
    background-color: white;
    width: 60vh;
}
#card1{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 25%;
    width: 72%;
    height: 96%;
}
#butt{
    width: 98%;
}

#p1, #lis3{
    color:blue
}
#lis2{
    color:rgb(203, 208, 203)
}
#lis1{
    color:green;
    margin-left: -6%;
}
#lis1,#lis2,#lis3{
   padding: 1%;
}

#ul4{

    list-style-type: none;
}

#p6{
    color:gray;
    float: left;
    margin-right: 1%;
}
#hj{
   position: relative;
   left:-52px;
}